<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
    #first-section {
       width: 1515px;
      height: 85px;
      background-color: hsl(196, 77%, 81%);
      font-weight: bold;
      font-size: medium;
      padding-left: 4px; 
      padding-right: 4px;
      margin-bottom: 30px;
      text-align: center;

    }
    table {
     font-family: arial, sans-serif;
     border-collapse: collapse;
     width: 100%;
    }

    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }
    p {
      text-align: center;
    }
     #logout {
        float: right;
        padding-right: 20px;
       }
       
    </style>
</head>
<body>
  <div id="first-section">
    
    <p id="logout"><a href="/homepage">Log out</a></p>
    <p><h1>Laxmi Laundry Management System</h1></p>
    <p><a href="/dashboardlaundryuser">User Dashboard</a></p>
    
    </div>
    <table class="table">
  <thead>
    <tr>
      
      <th scope="col">Pickup date</th>
      <th scope="col">Topwear</th>
      <th scope="col">Bottom wear</th>
       <th scope="col">Other Wears</th>
       <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {{#data}}
    <tr>
     
      <td>{{pickupdate}}</td>
      <td>{{topwear}}</td>
      <td>{{bottomwear}}</td>
      <td>{{otherwears}}</td>
      <td>{{status}}</td>
    </tr>
    {{/data}}
   
    
  </tbody>
</table>
    
  
</body>
</html>